.theme-light,
.theme-dark {
  --background-blur-depth: 2px;
  --flash-card-wrapper-font-color: var(--text-normal);
  --flash-card-wrapper-hover-color: var(--text-accent-hover);
  --flash-card-wrapper-font-size: 0.7rem;
  --flash-card-wrapper-highlight-color: var(--text-highlight-bg-active);
  --flash-card-wrapper-highlight-color-rgb: 255, 128, 0;
  --flash-card-wrapper-line-color: var(--text-accent);
  --flash-card-wrapper-line-height: 1.5rem;
  --flash-card-wrapper-response-time: 0.3s;
  --flash-card-wrapper-position: 0px;
  --focus-heading: 0.9;
  --flash-card-wrapper-line-width: calc(20rem + 3rem);
}
.theme-light {
  --flash-card-wrapper-header-background-color: var(--background-primary);
  --flash-card-wrapper-background-color: transparent;
}
.theme-dark {
  --flash-card-wrapper-header-background-color: rgba(32, 32, 32, 0.77);
  --flash-card-wrapper-background-color: rgba(32, 32, 32, 0.4);
}
/* 激活样式 */
.row.active .word-column,
.row.active .symbol-column,
.row.active .meaning-column {
  background-color: #f0f0f0;
  font-weight: bold;
}
.cyu-popup-menu {
  left: 10rem !important;
}
.flash-card-div .flash-card-wrapper {
  margin: 0 0 0 -1.5rem;
  padding: 0 10px 0 0;
  z-index: 2;
  list-style: none;
  position: absolute;
  top: 95px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  bottom: 40px;
  scroll-behavior: smooth;
  min-height: max-content;
  max-height: calc(100% - 135px);
  left: var(--flash-card-wrapper-position);
  align-items: flex-start;
  min-width: 6rem;
  max-width: var(--flash-card-wrapper-line-width);
  width: auto;
  overflow-y: auto;
  background: var(--flash-card-wrapper-background-color);
}
.flash-card-div .flash-card-wrapper::-webkit-scrollbar {
  display: none;
}
.flash-card-div .flash-card-wrapper.hide {
  display: none;
}
.flash-card-div .flash-card-wrapper .ra-toolbar {
  --interactive-normal: aqua;
  background-color: var(--interactive-normal);
}
.flash-card-div .flash-card-wrapper .item-count {
  font-family: 'Dancing Script', 'Carattere', 'Harlow Solid', '汉仪状元行';
  margin-bottom: 10px;
  margin-left: 2rem;
  text-align: left;
  width: 100%;
  display: block;
}
.flash-card-div .flash-card-wrapper .row {
  font-family: Archivo, "手札体-简";
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid var(--background-modifier-border-hover);
  padding: 4px 6px 4px 2rem;
  border-radius: 6px;
  border: 1px solid rgba(0, 114, 208, 1);
  background-color: #efefe8;
  animation: lineAppear-72a6a55b 250ms cubic-bezier(0.25, 0.1, 0.25, 1) both;
  transition: box-shadow 100ms ease;
}
@keyframes lineAppear-72a6a55b {
  0% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
.flash-card-div .flash-card-wrapper .row.sentence {
  flex-direction: column;
  border: 1px solid rgba(199, 43, 108, 1);
  background-color: #f6eae1;
}
.flash-card-div .flash-card-wrapper .row.sentence .symbol-column {
  rotate: 90deg;
}
.flash-card-div .flash-card-wrapper .row:hover,
.flash-card-div .flash-card-wrapper .row.row-active {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.028), 0px 3.4px 6.7px rgba(0, 0, 0, 0.042), 0px 5px 20px rgba(0, 0, 0, 0.07);
  animation: lineAppear-72a6a55c 250ms cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}
@keyframes lineAppear-72a6a55c {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(5px);
  }
}
.flash-card-div .flash-card-wrapper .row .word-column,
.flash-card-div .flash-card-wrapper .row .symbol-column,
.flash-card-div .flash-card-wrapper .row .meaning-column {
  padding: 5px;
  box-sizing: border-box;
}
.flash-card-div .flash-card-wrapper .row .word-column {
  flex: 3;
  font-size: 0.95rem;
}
.flash-card-div .flash-card-wrapper .row .symbol-column {
  flex: 1;
}
.flash-card-div .flash-card-wrapper .row .meaning-column {
  flex: 4;
  white-space: pre-wrap;
}
.flash-card-div .flash-card-wrapper .row .meaning-column.hide-meaning {
  background-color: red;
}
/*********left*********/
.workspace-leaf-content .flash-card-div.pin:is(.floating-left, .floating-both) + .markdown-source-view > .cm-editor {
  padding-left: var(--flash-card-wrapper-line-width);
}
.workspace-leaf-content .flash-card-div:is(.floating-left, .floating-both) ~ .markdown-reading-view .markdown-preview-view {
  padding-left: 4rem;
}
/*********right*********/
.flash-card-div.pin .flash-card-wrapper .heading-list-item > .text-wrap a > a,
.flash-card-div .flash-card-wrapper:hover .heading-list-item > .text-wrap a > a {
  pointer-events: none;
}
.flash-card-div.pin .flash-card-wrapper .heading-list-item > .text-wrap a > a.external-link,
.flash-card-div .flash-card-wrapper:hover .heading-list-item > .text-wrap a > a.external-link {
  background-image: none;
}
.flash-card-div.floating-right .flash-card-wrapper {
  right: calc(0.5rem + var(--flash-card-wrapper-position));
  align-items: flex-end;
  left: unset;
}
.flash-card-div.floating-right .heading-list-item {
  text-align: right;
}
span.ra-count-display {
  display: none;
}
.mod-header + div + div + div > h1 > div > span.ra-count-display,
.mod-header + div + div + div > h2 > div > span.ra-count-display,
.mod-header + div + div + div > h3 > div > span.ra-count-display,
.mod-header + div + div + div > h4 > div > span.ra-count-display,
.mod-header + div + div + div > h5 > div > span.ra-count-display,
.mod-header + div + div + div > h6 > div > span.ra-count-display,
.mod-header + div + div > h1 > div > span.ra-count-display,
.mod-header + div + div > h2 > div > span.ra-count-display,
.mod-header + div + div > h3 > div > span.ra-count-display,
.mod-header + div + div > h4 > div > span.ra-count-display,
.mod-header + div + div > h5 > div > span.ra-count-display,
.mod-header + div + div > h6 > div > span.ra-count-display {
  -webkit-app-region: no-drag;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text-normal);
  font-size: var(--font-ui-small);
  border-radius: var(--button-radius);
  border: 0;
  padding: var(--size-4-1) var(--size-4-3);
  height: var(--input-height);
  --input-font-weight: normal;
  font-weight: var(--input-font-weight);
  cursor: var(--cursor);
  font-family: inherit;
  outline: none;
  user-select: none;
  white-space: nowrap;
  margin-bottom: 10px;
  z-index: 1;
  float: right;
  position: relative;
  --font-ui-small: 0.9rem;
  background-color: var(--background-secondary);
  margin-top: 1rem;
  border: 1px solid var(--background-modifier-border-hover);
}
.mod-header + div + div + div > h1 > div > span.ra-count-display:hover,
.mod-header + div + div + div > h2 > div > span.ra-count-display:hover,
.mod-header + div + div + div > h3 > div > span.ra-count-display:hover,
.mod-header + div + div + div > h4 > div > span.ra-count-display:hover,
.mod-header + div + div + div > h5 > div > span.ra-count-display:hover,
.mod-header + div + div + div > h6 > div > span.ra-count-display:hover,
.mod-header + div + div > h1 > div > span.ra-count-display:hover,
.mod-header + div + div > h2 > div > span.ra-count-display:hover,
.mod-header + div + div > h3 > div > span.ra-count-display:hover,
.mod-header + div + div > h4 > div > span.ra-count-display:hover,
.mod-header + div + div > h5 > div > span.ra-count-display:hover,
.mod-header + div + div > h6 > div > span.ra-count-display:hover {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.028), 0px 3.4px 6.7px rgba(0, 0, 0, 0.042), 0px 5px 20px rgba(0, 0, 0, 0.07);
}
.reading.p label > span.ra-star:not(:has(*))::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='0.65em' height='0.65em' viewBox='0 0 48 48'%3E%3Cpath fill='%23efefe8' stroke='%230072d0' stroke-linejoin='round' stroke-width='4' d='M23.9986 5L17.8856 17.4776L4 19.4911L14.0589 29.3251L11.6544 43L23.9986 36.4192L36.3454 43L33.9586 29.3251L44 19.4911L30.1913 17.4776L23.9986 5Z'/%3E%3C/svg%3E");
  position: absolute;
  pointer-events: none;
  top: -22px;
  left: calc(-2rem - 5px);
}
.reading:not(.p) label > span.ra-star:not(:has(*))::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='0.65em' height='0.65em' viewBox='0 0 48 48'%3E%3Cpath fill='%23efefe8' stroke='%230072d0' stroke-linejoin='round' stroke-width='4' d='M23.9986 5L17.8856 17.4776L4 19.4911L14.0589 29.3251L11.6544 43L23.9986 36.4192L36.3454 43L33.9586 29.3251L44 19.4911L30.1913 17.4776L23.9986 5Z'/%3E%3C/svg%3E");
  position: absolute;
  pointer-events: none;
  top: -22px;
  left: -5px;
}
section.footnotes span.ra-star::before {
  left: -5px !important;
}
.row .ra-star:not(:has(*))::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='0.65em' height='0.65em' viewBox='0 0 48 48'%3E%3Cpath fill='%23efefe8' stroke='%230072d0' stroke-linejoin='round' stroke-width='4' d='M23.9986 5L17.8856 17.4776L4 19.4911L14.0589 29.3251L11.6544 43L23.9986 36.4192L36.3454 43L33.9586 29.3251L44 19.4911L30.1913 17.4776L23.9986 5Z'/%3E%3C/svg%3E");
  position: absolute;
  pointer-events: none;
  right: -5.5px;
}
h1 label,
.markdown-rendered h1 label {
  font-weight: var(--h1-weight);
}
strong label,
.markdown-rendered strong label {
  font-weight: var(--bold-weight);
  color: var(--bold-color);
}
.delUnderline {
  background: repeating-linear-gradient(to right, #f9f5e9, #f9f5e9 4px, transparent 4px, transparent 12px) no-repeat right bottom;
  background-size: 100% 2px;
  background-position-x: left;
}
label {
  padding: 1px;
  border: none;
  cursor: pointer;
  position: relative;
  padding-bottom: 2px;
  white-space: normal;
  word-wrap: break-word;
  color: var(--text-normal);
  font-weight: var(--normal-weight);
  transition: background-color 150ms ease, background-size 500ms;
  background-color: #ecefe8 !important;
  background: linear-gradient(to right, rgba(0, 114, 208, 1), rgba(0, 114, 208, 1)) no-repeat right bottom;
  background-size: 0 2px;
  transition: background-size 250ms;
}
label.label-active {
  border-bottom: 1px solid rgba(0, 114, 208, 1);
  background-color: rgba(0, 114, 208, 0.5) !important;
}
label.underline-expand {
  transition: background-size 500ms;
  background-position-x: left;
  background-size: 100% 2px;
}
label span:not(.ra-star) {
  position: relative;
}
label del {
  position: relative;
  padding-bottom: 2px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
label.wordLabelDel:not(.sentence) del {
  background: repeating-linear-gradient(to right, #f9f5e9, #f9f5e9 4px, transparent 4px, transparent 12px) no-repeat right bottom;
  background-size: 100% 2px;
  background-position-x: left;
}
label input[type="text"] {
  --size-4-2: 14px;
  --input-height: 38px;
  --font-ui-small: 16px;
  z-index: 3;
  display: none;
  text-align: left;
  border-radius: 6px;
  letter-spacing: 0.1px;
  color: white;
  border: 2px solid rgb(0, 114, 208);
  padding: var(--size-4-1) var(--size-4-2);
  transition: color 0.1s ease-in-out, width 0.2s ease-in-out;
  background-color: rgba(0, 114, 208, 1);
  animation: lineAppear-72a8t55c 250ms cubic-bezier(0.34, 1.56, 0.64, 1) both;
}
@keyframes lineAppear-72a8t55c {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateX(-5px);
  }
}
label input[type="text"]:hover {
  border: 2px solid rgb(0, 114, 208);
}
label input[type="text"]:focus {
  box-shadow: none;
  color: rgb(0, 114, 208);
  background-color: var(--bg1);
  border: 2px solid rgb(0, 114, 208);
  border-bottom: 3px solid rgb(0, 114, 208);
  transition: color 0.1s ease-in-out, width 0.1s ease-in-out;
}
label input[type="text"]:active {
  box-shadow: none;
}
label.sentence {
  background-color: rgba(199, 43, 108, 0.06);
  background-color: rgba(199, 43, 108, 0.06) !important;
  background: linear-gradient(to right, rgba(199, 43, 108, 1), rgba(199, 43, 108, 1)) no-repeat right bottom;
  background-size: 0 2px;
  transition: background-size 250ms;
}
label.sentence.underline-expand {
  transition: background-size 500ms;
  background-position-x: left;
  background-size: 100% 2px;
}
label.sentence.label-active-sentence {
  border-bottom: 1px solid rgba(199, 43, 108, 1);
  background-color: rgba(199, 43, 108, 0.5) !important;
}
label.sentence:hover del {
  background-color: transparent;
}
label.sentence > input[type="text"].sentence {
  background-color: rgba(199, 43, 108, 1);
  border: 2px solid rgb(199, 43, 108);
  color: white;
  bottom: 110%;
  left: -50%;
}
label.sentence > input[type="text"].sentence:focus {
  color: rgb(199, 43, 108);
  background-color: var(--bg1);
  border: 2px solid rgb(199, 43, 108);
  border-bottom: 3px solid rgb(199, 43, 108);
}
label.sentence label:active {
  background-color: rgba(0, 114, 208, 0.5);
}
label.sentence label input[type="text"] {
  left: 10%;
  top: -40px;
  color: white;
  background-color: rgba(0, 114, 208, 1);
}
label.sentence label input:focus {
  color: rgb(0, 114, 208);
  background-color: var(--bg1);
}
/**
 * @deprecated This styles is deprecated for the time being
 */
label.phrases {
  background-color: rgba(255, 147, 0, 0.12);
  border-bottom: 1px solid rgba(255, 147, 0, 1);
}
label.phrases:active:not(:has(label:active)) {
  background-color: rgba(255, 147, 0, 0.5);
}
label.phrases input[type="text"] {
  color: white;
  background-color: rgba(255, 147, 0, 1);
}
